{% load static %}



<html>
    <head>
        <title>login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
       <link href="{% static 'cdpapp/css/a2.css' %}" rel="stylesheet" type='text/css'>
    </head>
    <body>
        <div class="container">
            <div class="login-page">
                    <h2 class="head">login to your account</h2>
                    <form action="" method="POST">
                         {% csrf_token %}

                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary" name="submit" value="login">Login</button>
                    </form>

    </div>
    </body>
</html>